flows.json
[{"id":"f3c18a3a.fa9d28","type":"tab","label":"life expectancy","disabled":false,"info":""},{"id":"1bfdaf1e.cc2c71","type":"function","z":"f3c18a3a.fa9d28","name":"","func":"global.set(\"country\",msg.payload.country)\nglobal.set(\"year\",msg.payload.year)\nglobal.set(\"sts\",msg.payload.sts)\nglobal.set(\"mortality\",msg.payload.mortality)\nglobal.set(\"infdeaths\",msg.payload.infdeaths)\nglobal.set(\"alc\",msg.payload.alc)\nglobal.set(\"expenditure\",msg.payload.expenditure)\nglobal.set(\"hepatitis\",msg.payload.hepatitis)\nglobal.set(\"measles\",msg.payload.measles)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"underfive\",msg.payload.underfive)\nglobal.set(\"polio\",msg.payload.polio)\nglobal.set(\"exp\",msg.payload.exp)\nglobal.set(\"dph\",msg.payload.dph)\nglobal.set(\"hiv\",msg.payload.hiv)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"pop\",msg.payload.pop)\nglobal.set(\"thin\",msg.payload.thin)\nglobal.set(\"thinn\",msg.payload.thinn)\nglobal.set(\"icomp\",msg.payload.icomp)\nglobal.set(\"scl\",msg.payload.scl)\nvar apikey=\"O7qb8BG5lvxGYebwXjQFGLg9wKZ6V0znVc_5KZkM_rzg\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["f7fbc9d4.8a55e8"]]},{"id":"f7fbc9d4.8a55e8","type":"http request","z":"f3c18a3a.fa9d28","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":360,"wires":[["66006a95.722be4"]]},{"id":"171c35d5.3ee20a","type":"debug","z":"f3c18a3a.fa9d28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":160,"wires":[]},{"id":"66006a95.722be4","type":"function","z":"f3c18a3a.fa9d28","name":"","func":"var country = global.get('country')\nvar year = global.get('year')\nvar sts = global.get('sts')\nvar mortality = global.get('mortality')\nvar infdeaths = global.get('infdeaths')\nvar alc = global.get('alc')\nvar expenditure = global.get('expenditure')\nvar hepatitis = global.get('hepatitis')\nvar measles = global.get('measles')\nvar bmi = global.get('bmi')\nvar underfive = global.get('underfive')\nvar polio = global.get('polio')\nvar exp = global.get('exp')\nvar dph = global.get('dph')\nvar hiv = global.get('hiv')\nvar gdp = global.get('gdp')\nvar pop = global.get('pop')\nvar thin = global.get('thin')\nvar thinn = global.get('thinn')\nvar icomp = global.get('icomp')\nvar scl = global.get('scl')\nvar token=msg.payload.access_token\nvar instance_id=\"e35978bf-f56c-405f-85cb-43e1e692fecc\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[country,year,sts,mortality,infdeaths,alc,expenditure,hepatitis,measles,bmi,underfive,polio,exp,dph,hiv,gdp,pop,thin,thinn,icomp,scl]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["5387b645.e41b68"]]},{"id":"5387b645.e41b68","type":"http request","z":"f3c18a3a.fa9d28","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/36a8472b-d56b-42be-ba01-9981b59d8e4c/predictions","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":360,"wires":[["8b454d78.69052"]]},{"id":"50f376cb.986e18","type":"ui_form","z":"f3c18a3a.fa9d28","name":"","label":"","group":"934eb043.a39b9","order":1,"width":0,"height":0,"options":[{"label":"country name","value":"country","type":"text","required":true,"rows":null},{"label":"year","value":"year","type":"number","required":false,"rows":null},{"label":"status","value":"sts","type":"text","required":false,"rows":null},{"label":"adult mortality","value":"mortality","type":"number","required":false,"rows":null},{"label":"infant deaths","value":"infdeaths","type":"number","required":false,"rows":null},{"label":"alcohol","value":"alc","type":"number","required":false,"rows":null},{"label":"percentage expenditure","value":"expenditure","type":"number","required":false,"rows":null},{"label":"Hepatitis B","value":"hepatitis","type":"number","required":false,"rows":null},{"label":"Measles","value":"measles","type":"number","required":false,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":false,"rows":null},{"label":"under-five deaths","value":"underfive","type":"number","required":false,"rows":null},{"label":"Polio","value":"polio","type":"number","required":false,"rows":null},{"label":"Total expenditure","value":"exp","type":"number","required":false,"rows":null},{"label":"Diphtheria","value":"dph","type":"number","required":false,"rows":null},{"label":"HIV/AIDS","value":"hiv","type":"number","required":false,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":false,"rows":null},{"label":"Population","value":"pop","type":"number","required":false,"rows":null},{"label":"thinness 1-19 years","value":"thin","type":"number","required":false,"rows":null},{"label":"thinness 5-9 years","value":"thinn","type":"number","required":false,"rows":null},{"label":"Income composition of resources","value":"icomp","type":"number","required":false,"rows":null},{"label":"Schooling","value":"scl","type":"number","required":false,"rows":null}],"formValue":{"country":"","year":"","sts":"","mortality":"","infdeaths":"","alc":"","expenditure":"","hepatitis":"","measles":"","bmi":"","underfive":"","polio":"","exp":"","dph":"","hiv":"","gdp":"","pop":"","thin":"","thinn":"","icomp":"","scl":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":340,"wires":[["1bfdaf1e.cc2c71"]]},{"id":"604c06c7.1143b8","type":"ui_text","z":"f3c18a3a.fa9d28","group":"934eb043.a39b9","order":2,"width":0,"height":0,"name":"","label":"predicted life expectancy","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":40,"wires":[]},{"id":"8b454d78.69052","type":"function","z":"f3c18a3a.fa9d28","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["171c35d5.3ee20a","604c06c7.1143b8"]]},{"id":"934eb043.a39b9","type":"ui_group","z":"","name":"details","tab":"64740ce.8a4e5f4","order":3,"disp":true,"width":"6","collapse":false},{"id":"64740ce.8a4e5f4","type":"ui_tab","z":"","name":"life Expectancy","icon":"LE","order":1,"disabled":false,"hidden":false}]